<!DOCTYPE html>
<html>
<head>
  <title>App2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-dark bg-inverse">
  <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
    <a class="navbar-brand" href="#">SuperBlog</a>
  <div class="collapse navbar-toggleable-xs " id="exCollapsingNavbar2">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
         <%= link_to 'Home', articles_path , class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item pull-sm-right pull-xs-left">
         <%= form_tag(articles_path, :method => "get", class: "navbar-form form-inline pull-sm-right pull-xs-left", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], class: "span2 form-control", placeholder: "Search Articles" %>
      <button class="btn btn-success-outline" type="submit">Search</button>
     <% end %>
      </li>
    </ul>
   
  </div>
</nav>

<%= yield %>

</body>
</html>
